{% extends 'base.html' %}
{% load static %}
{% block title %}Baylanıs{% endblock title %}
{% block content %}
    <div class="flex">
        <div class="m-5 p-3 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
                <img class="mb-3 w-24 h-24 rounded-full shadow-lg" src="{% static 'img/my_photo.jpg' %}" alt="Gulzar Bekimbetova"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Gulzar Bekimbetova</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">Muǵállim</span>
                <div class="flex mt-4 space-x-3 lg:mt-6">
                    <a href="mailto:example.com" class="inline-flex items-center py-2 px-4 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Email jazıw</a>
                    <a href="tel:+998911234567" class="inline-flex items-center py-2 px-4 text-sm font-medium text-center text-gray-900 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">Qońıraw etiw</a>
                </div>
            </div>
        </div>
        <div class="m-5 p-3 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
            <div class="flex flex-col items-center pb-10">
                <img class="mb-3 w-24 h-24 rounded-full shadow-lg" src="{% static 'img/1636468209466.jpg' %}" alt="Nurlan Pirjanov"/>
                <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Nurlan Pirjanov</h5>
                <span class="text-sm text-gray-500 dark:text-gray-400">Web Developer</span>
                <div class="flex mt-4 space-x-3 lg:mt-6">
                    <a href="mailto:pirjanovnurlan77@gmail.com" title="pirjanovnurlan77@gmail.com" class="inline-flex items-center py-2 px-4 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Email jazıw</a>
                    <a href="tel:+998973586396" title="+998973586396" class="inline-flex items-center py-2 px-4 text-sm font-medium text-center text-gray-900 bg-white rounded-lg border border-gray-300 hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-700 dark:focus:ring-gray-700">Qońıraw etiw</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
